@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
  background-color: #fbf7ef; /* earth-100 */
  color: #2d362d; /* sage-900 */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}
